<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Auth0ClientId</key>
	<string>NagwQC83XJEPKdRGi9tz6g7kGpTu8y1b</string>
	<key>Auth0Domain</key>
	<string>streamsavvy.auth0.com</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>auth0</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb676169215880122</string>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>FacebookAppID</key>
	<string>676169215880122</string>
	<key>FacebookDisplayName</key>
	<string>Stream Savvy</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>watchespn</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>slingtv</string>
		<string>nflx</string>
		<string>hulu</string>
		<string>fb40582213222</string>
		<string>fb163114453728333</string>
		<string>hbonow</string>
		<string>fb457474864412373</string>
		<string>showtime</string>
		<string>aiv</string>
		<string>cbs-svod</string>
		<string>cbs-sv</string>
		<string>twitter</string>
		<string>starz</string>
		<string>fb385790948110676</string>
		<string>nbctve</string>
		<string>fb111598788905376comcwfullepisodesios</string>
		<string>fb391138331009052comcwfullepisodesios</string>
		<string>cwtv</string>
		<string>cwseed</string>
		<string>cwseed-pvn</string>
		<string>fb1505747749718971</string>
		<string>seeso</string>
		<string>fb271893612990351</string>
		<string>historyplus</string>
		<string>historyvault</string>
		<string>ttv</string>
		<string>twitch</string>
		<string>fb162788457265492</string>
		<string>tv.fubo.mobile</string>
		<string>a09gnk7Cg77AOFuNemS5Kek3qT8HiJ87N1</string>
		<string>a0RTpfOxSkv1LOIgHlxo2YmxLqUfaSvjaG</string>
		<string>a0d6YiOzgcOnC305cKkBZoydAu62K1z7Ly</string>
		<string>fb56424855326</string>
		<string>crunchyroll</string>
		<string>fb151570254902333</string>
		<string>pbskidsvideo</string>
		<string>fb205962049613862</string>
		<string>tubitv</string>
		<string>fb91018702399</string>
		<string>crackle</string>
		<string>fb396724197178595</string>
		<string>newsy</string>
		<string>youtube</string>
		<string>vuduiosplayer</string>
		<string>itms</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to pull shows from around you!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo Library Access Warning</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
