[submodule "Frameworks/SwiftWebSocket"]
	path = Frameworks/SwiftWebSocket
	url = git@github.com:tidwall/SwiftWebSocket.git
[submodule "Frameworks/Amplitude"]
	path = Frameworks/Amplitude
	url = git@github.com:amplitude/Amplitude-iOS.git
[submodule "Frameworks/Clevertap-iOS-SDK"]
	path = Frameworks/Clevertap-iOS-SDK
	url = git@github.com:CleverTap/clevertap-ios-sdk.git
