[submodule "Frameworks/SwiftWebSocket"]
	path = Frameworks/SwiftWebSocket
	url = git@github.com:tidwall/SwiftWebSocket.git
[submodule "Frameworks/Amplitude"]
	path = Frameworks/Amplitude
	url = git@github.com:amplitude/Amplitude-iOS.git
[submodule "Frameworks/FSCalendar"]
	path = Frameworks/FSCalendar
	url = git@github.com:WenchaoD/FSCalendar.git
[submodule "Frameworks/Lock"]
	path = Frameworks/Lock
	url = git@github.com:auth0/Lock.iOS-OSX.git
[submodule "Frameworks/Lock-ios"]
	path = Frameworks/Lock-ios
	url = git@github.com:auth0/Lock.iOS-OSX.git
[submodule "Frameworks/GraphQLicious"]
	path = Frameworks/GraphQLicious
	url = git@github.com:WeltN24/GraphQLicious.git
